body {
    color: white;
    background-image: url(/themes/teodesian.net/img/sys/tsn.png);
    font-size: 150%;
}

#kontent {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2em 0.5em 0.5em;
    border-radius: 0px 0px 1em 1em;
    box-shadow: 0 0.5em 1em black;
}

a {
    color: rgb(0,255,0);
    border: 0px;
}

.LT_powered {
    display: none;
}

.nowrap {
    white-space:nowrap;
}

a.logo {
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 1.5em;
    width: 10em;
    background-image: url(/themes/teodesian.net/img/sys/logo.png);
    background-size: auto 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/teodesian.net/img/sys/logo.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/teodesian.net/img/sys/logo.png', sizingMethod='scale')";
}

/*Responsive Shizz*/
@media(max-width: 900px) {
 body {
  font-size: 100%;
 }
 #kontent {
  max-width: 80vw;
  padding: 3em 0.5em 0.5em;
 }
 #leftbar {
  display: none;
 }
 img.nudes, .mblogimg {
  max-width: 95vw;
 }
}
/*Responsive iframes*/
@media(max-width: 35rem) {
  iframe.responsive, video.responsive {
    width: 100%;
    height: 10rem;
  }
}
