*.swp
*.swo
favicon.ico
dist/
www/assets
data/
blib/
nytprof/
nytprof.out
nytprof*
www/nytprof
pm_to_blib
pod2htmd.tmp
www/scripts/list.min.json
www/scripts/highlight.min.js
www/scripts/chart.js
www/scripts/reveal.js
www/styles/obsidian.min.css
www/styles/reveal.css
www/styles/reveal-white.css
www/.well_known
config/auth.db
config/has_users
config/main.cfg
config/setup
Makefile
MYMETA.yml
MYMETA.json
node_modules/
www/statics/
totp/
nginx/tcms.conf
fail2ban/tcms-jail.conf
logs/
run/
dns/tcms.conf
dns/zones.db
dns/zone.sql
dns/default.zone
dns/default.zone.sql
*-shm
*-wal
service-files/*.service
.ssh/*
.bash_profile
.bash_history
.bashrc
.cache/
.gitconfig
.viminfo
.vimrc
.tmux.conf
