*.swp
*.swo
favicon.ico
dist/
www/assets
data/
pod2htmd.tmp
fgEmojiPicker.js
full-emoji-list.json
highlight.min.js
obsidian.min.css
www/.well_known
config/auth.db
config/has_users
config/main.cfg
config/setup
MYMETA.yml
MYMETA.json
