#littlemenu, #topkek, #leftbar, #rightbar, #footbar {
 display: none !important;
}
#kontent {
 text-align: left;
 font-family: sans-serif;
 font-size: 12pt;
}
p.title {
 font-weight: bold;
}
ul {
 list-style-type: disc;
}
table {
 border-spacing: 0px;
}
td {
 padding: 0px;
}
pre {
 font-family: sans-serif;
 font-size: 12pt;
 margin-top: 5px;
 margin-bottom: 5px;
 white-space: pre-wrap;
}
h3.blogtitles {
 margin-bottom: 5px;
 margin-bottom: 5px;
}
em.blogdetail {
 font-size: 8pt;
}
