@charset "UTF-8";

:root,[data-theme=default]{
    --color-accent:#783cb9;
    --color-text-default:#1f303e;
    --color-text-offset:#686c71;
    --color-text-accent:var(--color-accent);
    --color-text-interaction:#005aff;
    --color-text-success:#4d7500;
    --color-text-danger:#d22006;
    --color-background-default:#fff;
    --color-background-offset:#f1f3f6;
    --color-background-success:#ddf9c7;
    --color-background-warning:#fef2e4;
    --color-background-danger:#fff3f2;
    --color-background-info:#edf5ff;
    --color-background-disabled:#e6e6e2;
    --color-border-default:#dfe1e2;
    --color-border-success:#7d9b4e;
    --color-border-warning:#dd7533;
    --color-border-danger:#e9695f;
    --color-border-info:#4f97d1;
    --color-focus-ring:hsla(219, 100%, 50%, 0.5);
    --color-box-shadow:rgba(0, 0, 0, 0.1);
    --color-backdrop:rgba(255, 255, 255, 0.6);
}


[data-theme=dark]{
    color-scheme:dark;
    --color-accent:#aacdec;
    --color-text-default:#fff;
    --color-text-offset:#c9c9c9;
    --color-text-accent:var(--color-accent);
    --color-text-interaction:#ffbe2e;
    --color-text-success:#a3b72c;
    --color-text-danger:#ff8d7b;
    --color-background-default:#2d2e2f;
    --color-background-offset:#1c1d1f;
    --color-background-success:#3c4a29;
    --color-background-warning:#614527;
    --color-background-danger:#6f3331;
    --color-background-info:#2f4668;
    --color-background-disabled:#454540;
    --color-border-default:#5d5d52;
    --color-border-success:#7d9b4e;
    --color-border-warning:#dd7533;
    --color-border-danger:#e9695f;
    --color-border-info:#4f97d1;
    --color-focus-ring:#c2850c;
    --color-box-shadow:rgba(0, 0, 0, 0.5);
    --color-backdrop:rgba(0, 0, 0, 0.6);
}
html{
    word-wrap:break-word
}
h1{
    font-size:3.8rem;
    line-height:1;
    font-weight:800;
    margin-bottom:4rem
}
h2{
    font-size:3rem;
    line-height:1.2;
    font-weight:700;
    margin-bottom:3rem
}
h2:not(:first-child){
    margin-top:5.8rem
}
hr+h2:not(:first-child){
    margin-top:4rem
}
h3{
    font-size:2.4rem;
    line-height:1.25;
    font-weight:500;
    margin-top:4.2rem;
    margin-bottom:1.8rem
}
h4{
    font-size:2rem;
    line-height:1.35;
    font-weight:500;
    margin-top:3.2rem;
    margin-bottom:1.8rem
}
.layout-content{
max-width:var(--content-max-width);
padding-inline:var(--content-horizontal-padding-xs)
}
@media (min-width:768px){
.layout-content{
padding-inline:var(--content-horizontal-padding-md)
}

dk-alert-box{
display:block;
margin:3rem 0;
padding:2rem 3rem;
border:1px solid var(--alert-border);
border-left-width:.5rem;
border-radius:.4rem;
background-color:var(--alert-background)
}
dk-alert-box[type=info]{
--alert-border:var(--color-border-info);
--alert-background:var(--color-background-info)
}
dk-alert-box[type=warning]{
--alert-border:var(--color-border-warning);
--alert-background:var(--color-background-warning)
}
dk-alert-box[type=danger]{
--alert-border:var(--color-border-danger);
--alert-background:var(--color-background-danger)
}
dk-alert-box[type=success]{
--alert-border:var(--color-border-success);
--alert-background:var(--color-background-success)
}
