{
    "toptitle" : "templates/default/title.inc",
    "leftbar" : "templates/default/leftbar.inc",
    "rightbar" : "templates/default/rightbar.inc",
    "footbar" : "templates/default/footbar.inc",
    "about" : "templates/default/about.inc",
    "home" : "sys/blogroll.inc",
    "fileshare" : "sys/fileshare/showfiles.inc",
    "microblog" : "sys/microblog.inc",
    "blog" : "sys/blogroll.inc",
    "postloader" : "sys/fileshare/showpost.inc",
    "codeloader" : "sys/fileshare/showcode.inc",
    "audioloader" : "sys/fileshare/showaudio.inc",
    "videoloader" : "sys/fileshare/showvideo.inc",
    "imgloader" : "sys/fileshare/showimg.inc",
    "docloader" : "sys/fileshare/showdoc.inc",
    "blogdir" : "blog/",
    "microblogdir" : "microblog/",
    "filesharedir" : "fileshare",
    "rssdir" : "sys/rss/",
    "icondir" : "img/mime/",
    "basedir" : "",
    "htmltitle" : "Unconfigured tCMS Website",
    "blogtitle" : "Blog",
    "microblogtitle" : "Linklog",
    "timezone" : "America/Chicago"
}
