{
  "bambam" : {
    "fullName" : "The Administrator",
    "email" : "admin@example.com",
    "remoteUser: "barney"
  },
  "wilma" : {
    "fullName" : "Mr. Magoo",
    "email" : "dev@null.io",
    "remoteUser: "fred"
  }
}
