image=https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
size=42949672960
packages= git, tig, perlbrew, sqlite3, fail2ban, nginx, certbot, postfix, dovecot-imapd, dovecot-pop3d, postgrey, spamassassin, amavis, clamav, opendmarc, opendkim, opendkim-tools, auditd, pigz, pdns-tools, pdns-server, pdns-backend-sqlite3, libsqlite3-dev, libunbound-dev, uuid-dev, libmagic-dev, autotools-dev, dh-autoreconf, libxml2, curl, cmake, plocate, zlib1g-dev
contact_email=%CONTACTEMAIL%
