 <head>
  <meta charset="utf-8" />
  <meta name="description" content="A Simple CMS by teodesian.net"/>
  <meta name="viewport" content="width=device-width">
  <?php
    $links  = '<link rel="stylesheet" type="text/css" href="themed/' . $theme . '/css/structure.css" />';
    $links += '<link rel="stylesheet" type="text/css" href="themed/' . $theme . '/css/screen.css" media="screen" />';
    $links += '<link rel="stylesheet" type="text/css" href="themed/' . $theme . '/css/print.css" media="print" />';
    $links += '<link rel="icon" type="image/vnd.microsoft.icon" href="themed/' . $theme . '/img/icon/favicon.ico" />';
    echo $links;

    // TODO inject avatars these via style tags based on config
  ?>
  <title>
   <?php echo $config['htmltitle']; ?>
  </title>
 </head>
