<!doctype html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="tCMS"/>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/vnd.microsoft.icon" href="img/icon/favicon.ico" />
        <title>
            tCMS Requires Setup to Continue...
        </title>
        <style>
            body, html {
                font-size: 100%;
                margin: 0;
            }
            nav {
                padding: .5rem;
                height: 2rem;
                line-height: 2rem;
                font-size: 1.5rem;
                background-color: black;
                color: white;
            }
            section {
                display: block;
                margin: 1rem auto 0 auto;
                padding: 0 1rem;
            }
            #notice {
                display: table;
                padding: .5rem;
                background-color: rgba( 0, 0, 0, .75 );
                color: #00FF00;
                border-radius: .25rem;
            }
            #notice > img, #notice > span {
                margin: .25rem;
                display: table-cell;
                vertical-align: middle;
            }
            /* Styles for larger viewports */
            @media( min-width: 768px ) {
                section {
                    width: 80%;
                }
                #notice {
                    width: calc( 100% - 1rem);
                }
            }
        </style>
    </head>
    <body>
        <nav>
            <strong>tCMS Initial Setup</strong>
        </nav>
        <section>
            <div id="notice">
                <img alt="Icon indicating a missing file" src="img/mime/missing.gif" />
                <span>
                    [INFO] This page is being displayed because sys/admin/config/main.json is missing
                    (or corrupted).
                </span>
            </div>
            <p>
                <strong>Note:</strong> Please see the
                <a href="https://tcms.troglodyne.net/index.php?nav=5&post=fileshare/manual/Chapter%2000-Introduction.post">
                    tCMS Manual
                </a>
                for full instructions on how configure tCMS.
                <br /><br />
                Please <a href="sys/admin?app=config" alt="Login">Log In</a> and Configure tCMS.
            </p>
        </section>
    </body>
</html>
