server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name %SERVER_NAME% www.%SERVER_NAME%;

    ssl_certificate /etc/letsencrypt/live/%SERVER_NAME%/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/%SERVER_NAME%/privkey.pem;

    location / {
        proxy_pass http://unix:%SERVER_SOCK%/run/tcms.sock:/;
        proxy_set_header Host            $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location /.well-known/ {
        root /var/www/%SERVER_NAME%/;
    }

}

server {
    listen 80;
    listen [::]:80;

    server_name %SERVER_NAME% www.%SERVER_NAME%;

    location / {
        proxy_pass http://unix:%SERVER_SOCK%/run/tcms.sock:/;
        proxy_set_header Host            $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location /.well-known/ {
        root /var/www/%SERVER_NAME%/;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name mail.%SERVER_NAME%;

    ssl_certificate /etc/letsencrypt/live/%SERVER_NAME%/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/%SERVER_NAME%/privkey.pem;

    location / {
        root /var/www/mail.%SERVER_NAME%/;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name mail.%SERVER_NAME%;

    location / {
        root /var/www/mail.%SERVER_NAME%/;
    }
}
