{
   "applications" : {
      "tcms" : {
         "group" : "__USER__",
         "script" : "__WD__/www/server.psgi",
         "type" : "perl",
         "user" : "__USER__",
         "working_directory" : "__WD__",
         "environment": {
            "PSGI_ENGINE":"nginx-unit"
         },
         "limits": {
            "requests": 1000
         "processes": {
            "spare": 5,
            "max": 100,
            "idle_timeout": 30
         }
      }
   },
   "listeners" : {
      "*:5001" : {
         "pass" : "applications/tcms"
      }
   },
   "settings" : {
      "http" : {
         "body_read_timeout" : 60,
         "max_body_size" : 85899345920
      }
   }
}
